[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
